<nav class="navbar navbar-expand bg-dark navbar-dark">
    <a routerLink="" class="navbar-brand">
        <img src="/assets/logo_256_ok.png" width="80" height="100" alt="Site logo">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" *ngIf="authentification.isAuth">
            <a routerLink="mes-recettes" class="nav-link">Mes recettes</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="authentification.isAuth">
            <a routerLink="nouvelle-recette" class="nav-link">Nouvelle recette</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="authentification.roles.includes('ROLE_ADMIN')">
            <a routerLink="admin" class="nav-link">Gestion admin</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="signup" class="nav-link">S'inscrire</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!authentification.isAuth">
            <a routerLink="signin" class="nav-link">Se connecter</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="authentification.isAuth">
            <a routerLink="signout" class="nav-link">Se déconnecter</a>
        </li>
    </ul>
</nav>
<div class="jumbotron">
    <h5>Bienvenue <ng-container *ngIf="authentification.isAuth === true">{{authentification.login}}</ng-container></h5>
</div>
