<h3>Créer une nouvelle recette</h3>
<div class="row">
    <div class="col-6">
        <form [formGroup]="formulaire" (ngSubmit)="onEnvoyerRecette()">
            <fieldset>
                <legend>Informations générales</legend>
                <div class="form-group">
                    <label for="titre">Titre de la recette</label>
                    <input type="text" name="titre" class="form-control" formControlName="titre"/>
                </div>
                <div class="form-group">
                    <label for="categorie">Catégorie</label>
                    <input type="text" name="categorie" class="form-control" formControlName="categorie"/>
                </div>
                <div class="form-group">
                    <label for="dureePreparation">Durée de la préparation (en minutes)</label>
                    <input type="number" name="dureePreparation" class="form-control" formControlName="dureePreparation"/>
                </div>
                <div class="form-group">
                    <label for="dureeCuisson">Durée de la cuisson (en minutes)</label>
                    <input type="number" name="dureeCuisson" class="form-control" formControlName="dureeCuisson"/>
                </div>
                <div class="form-group">
                    <label for="difficulte">Difficulté de la recette (de 1 à 5)</label>
                    <input type="number" name="difficulte" class="form-control" formControlName="difficulte"/>
                </div>
                <div class="form-group">
                    <label for="prix">Prix (de 1 à 5)</label>
                    <input type="number" name="prix" class="form-control" formControlName="prix"/>
                </div>
            </fieldset>
            <fieldset>
                <legend>Recette</legend>
                <div formArrayName="ingredients">
                    <h5>Ingrédients de la recettte</h5>
                    <div class="form-group" *ngFor="let ingredient of getIngredients().controls; let i = index">
                        <ng-container formGroupName="{{i}}" class="form-group">
                            <label for="nom">Nom de l'ingrédient :</label>
                            <input type="text" name="nom" class="form-control" formControlName="nom"/>
                            <label for="quantite">Quantité :</label>
                            <input type="number" name="quantite" class="form-control" formControlName="quantite">
                            <label for="unite">Unité de mesure :</label>
                            <select name="unite" class="form-control" formControlName="unite">
                                <ng-container *ngFor="let item of unites | keyvalue">
                                    <option value="{{item.key}}">{{item.value}}</option>
                                </ng-container>
                            </select>
                        </ng-container>
                        <button class="btn btn-secondary" type="button" (click)="onSupprimerIngredient(i)">×</button>
                    </div>
                    <button type="button" class="btn btn-success" (click)="onAddIngredient()">Ajouter un ingrédient</button>
                </div>
                <div class="form-group">
                    <label for="texte">Texte de la recette</label>
                    <br />
                    <textarea name="texte" id="texte" cols="30" rows="10" formControlName="texte"></textarea>
                </div>
            </fieldset>
            <button class="btn btn-primary"
            type="submit" [disabled]="formulaire.invalid">Envoyer la recette</button>
        </form>
    </div>
</div>
