<div class="row">
    <div class="col-4">
        <form [formGroup]="formulaire" (ngSubmit)="onSeConnecter()">
            <fieldset>
                <ng-container *ngIf="authentification.isInvalide === true">
                    <p class="text-danger">Erreur dans la saisie du login ou du mot de passe !</p>
                </ng-container>
                <legend>Se connecter</legend>
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" name="login" class="form-control" formControlName="login">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" class="form-control" formControlName="password">
                </div>
            </fieldset>
            <button class="btn btn-primary"
            type="submit"
            [disabled]="formulaire.invalid">Se connecter</button>
        </form>
    </div>
</div>