<div class="card">
    <div class="card-body">
        <ng-container *ngIf="estNotee === false">
            <button [disabled]="estNotable === false" type="button" class="btn btn-primary"
            (click)="onNoterRecette()">Noter la recette</button>
        </ng-container>
        <h5 class="card-title">Titre de la recette : {{recette.titre}}</h5>
        <ng-container class="card-text">
        <p>Par {{recette.login}} le {{recette.dateMiseEnLigne | date: "short"}}<br />
        Type de recette : {{recette.categorie}}<br />
        Temps de préparation : {{recette.dureePreparation}}min ; temps de cuisson : {{recette.dureeCuisson}}min<br />
        prix : {{recette.prix}}<br />
        difficulté : {{recette.difficulte}}<br />
        Moyenne : {{moyenne | async}}
        </p>
        <h6>Liste des ingrédients</h6>
        <ul *ngFor="let ingr of recette.listeIngredients">
            <li>{{ingr.quantite}} {{ingr.unite}} de {{ingr.nom}}</li>
        </ul>
        </ng-container>
        <h6>La recette</h6>
        <p>
            {{recette.texte}}
        </p>
        <h4>Commentaires</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let notation of notations">
                <h5>Note : {{notation.note}}</h5>
                <b>{{notation.utilisateur.login}}</b>, le {{notation.dateNotation | date: "short"}}
                <ng-container *ngIf="notation.commentaire !== undefined || notation.commentaire !== ''"><hr />Commentaire : {{notation.commentaire}}</ng-container>
            </li>
        </ul>
    </div>
</div>
