<h3>Formulaire d'inscription</h3>
<p *ngIf="reponse">{{ reponse }}</p>
<form [formGroup]="formulaire" (ngSubmit)="onCreerCompte()">
    <fieldset>
        <legend>Identifiants</legend>
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" name="login" class="form-control" formControlName="login"/>
        </div>
        <div class="form-field">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" class="form-control" formControlName="password"/>
        </div>
    </fieldset>
    <button class="btn btn-primary"
    type="submit">Créer un compte</button>
</form>