<h3>Liste de mes recettes</h3>
<ng-container *ngFor="let recette of recettes">
    <button class="btn btn-primary" (click)="onSupprimerRecette(recette.id)">Supprimer la recette</button>
    <app-single-recette [recette]="recette"></app-single-recette>
</ng-container>
