<h5>Noter la recette : {{recette.titre}}</h5>
<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="noteFormulaire" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="note">Note</label>
            <select name="note" id="note" class="form-control" formControlName="note">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="commentaire">Commentaire (falcultatif)</label>
            <br />
            <textarea name="commentaire" id="commentaire" cols="30" rows="10" formControlName="commentaire"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>
